/* Font Import */
@import url('https://fonts.googleapis.com/css?family=Oswald|Raleway&display=swap');

/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
  background: #0077be;
}

/* Headings Font */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Oswald', sans-serif;
}

/* Utility Classes */
.btn {
  padding: 1rem 1rem;
  text-decoration: none;
  border: 3px solid white;
  display: block;
  width: 200px;
  margin: 0 auto;
  color: white;
  font-size: 1.5rem;
  transition: all 1s ease-in;
  font-weight: bold;
  border-radius: 30px;
}

.btn:hover {
  background: white;
  color: black;
}

nav {
  display: grid;
  grid-template-columns: 4fr 2fr;
  height: 100vh;
}

header nav #brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: bold;
  color: white;
  text-align: center;
  background: url('../img/beach-cliffs-evening-977736.jpg') no-repeat;
}

header nav #brand h1 {
  font-size: 10rem;
}

header nav #brand small {
  font-size: 2rem;
}

header nav #main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: #006994;
}

header nav #main-nav ul li a {
  text-decoration: none;
  font-size: 2rem;
  color: white;
  display: block;
  margin: 1rem;
}

.section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section-a {
  background: url('../img/blue-ocean-sea-60004.jpg') no-repeat center/cover;
}

.section div h2 {
  text-transform: uppercase;
  font-size: 4rem;
  width: 80%;
  margin: 0 auto;
  background: #0077be;
  color: white;
  padding: 1rem;
}

.section div p {
  text-transform: capitalize;
  font-size: 1.5rem;
  background: #0077be;
  width: 80%;
  margin: 0 auto;
  color: white;
  padding: 1rem;
}

.section-b {
  height: 100vh;
  background: url('../img/beach-cliffs-evening-977736.jpg') no-repeat
    center/cover;
}

.section-b div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.section-b div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.section-b div div div {
  text-align: center;
}

.section-b div h2 {
  text-transform: uppercase;
  font-size: 4rem;
}

.section-b div p {
  text-transform: capitalize;
  font-size: 1.5rem;
}

.section-b h2 {
  color: white;
}

.section-c {
  background: url('../img/blue-ocean-sea-60004.jpg') no-repeat center/cover;
}

.section-c p {
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  nav {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section div {
    width: 90%;
    margin: 0 auto;
  }

  .section div h2 {
    font-size: 2.5rem;
  }

  .section div p {
    font-size: 1.3rem;
    font-weight: 800;
  }

  .section-b div {
    grid-template-columns: 1fr;
  }
}
